.main-sidebar-dark {
  width: 270px;
  background-color: #222d32;
}
.info-box {
  min-height: 50px !important;
  max-height: auto;
  border: 1px solid gray;
  width: 260px !important;
  float: left;
  margin: 5px 0px 5px 20px;
  color: black;
}
.info-box-content {
  margin-left: 0px !important;
  padding: 15px 10px !important;
}
.info-box-text {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.yearslider {
  height: 15px;
  width: 335px;
  margin: 12 20 6 25;
}
.noUi-horizontal .noUi-handle {
  width: auto;
  height: 24;
  font-size: 14px;
  line-height: 1.8;
  /* padding: 0 5; */
}

div#reviews_slider .noUI-connect {
  background: #F47E60;
}
div#listings_slider .noUi-connect {
  background: #6BACD0;
}

.noUi-handle::after, .noUi-handle::before{
  display: none !important;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
.flower-edge-link {
  fill: none;
}

.info-node-link {
  fill: none;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs>li>a.tab-btn {
  padding: 8px 0;
  border-radius: 0 0 5px 5px;
  color: #000;
  background-color: transparent;
  border-left: 1px solid #ddd;
  border-bottom: 5px #4587a5 solid;
  border-top: none;
  text-align: center;
  width: 140px;
  font-size: 16px;
  margin: 0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a.tab-btn,
.nav-tabs>li>a.tab-btn:hover {
  color: #000;
  background-color: #f9f9f9;
  border-bottom: 4px #54c2f5 solid;
}

.navbar .btn {
  color: #666;
  height: 50px;
  width: 100px;
  padding: 12px 15px;
  font-size: 18px;
  margin-right: 10px;
}

.nav-tabs>li>a.tab-btn.active {
  color: #000;
  background-color: #f9f9f9;
  border-bottom: 6px #2c3b41 solid;

}

.nav-item {
  font-size: 17px;
}