{% load staticfiles %}
<html>
{% include 'main_page_header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            {% include 'main_page_title_bar.html' %}
        </header>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="background-color: #fff;">
            <!-- Main content -->
            <section class="content">

                <div class="top-panel">
                    <div class="intro-content">
                        <h3>
                            <b>
                                One on One fitness challenge
                            </b>
                        </h3>
                        
                    </div>

                </div>
        </div>
    </div>

    </section>
    </div>

    </div>
</body>

</html>