{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/movieapp.css' %}" />
<html>
{% include 'main_page_header.html' %}

<body class="hold-transition skin-custom sidebar-mini">
  <div class="wrapper">
    <header class="main-header header-flower">
      {% include 'main_page_title_bar.html' %}
    </header>
    <aside class="main-sidebar" style="width: 440px; background-color: #fff;border-right: 1px solid #eee;">
      <section class="sidebar">
        {% include 'sidepanel_movies.html' %}
      </section>
    </aside>
    <div class="content-wrapper content-wrapper-narrow" style="min-height: 875px;margin-top:50px;margin-left:480px;background: #fff;">
      <div id="flower-container" style="height:860px;">
        <ul class="nav nav-tabs" style="float:right">
          <li><a class="btn tab-btn active" href="#tab-director" name="Director" data-toggle="tab">&nbsp;Director</a>
          </li>
          <li><a class="btn tab-btn" href="#tab-writer" name="Writer" data-toggle="tab">&nbsp;Writer</a></li>
        </ul>
        <!-- Tab content -->
        <div class="tab-content" style="background-color: #fff;">
          <div role="tabpanel" class="tab-pane tab-flower active" id="tab-director">
            <h4>Director</h4>
            <div align="center">
              <svg id="directors-plot" width=1800 height=1200></svg>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane tab-flower" id="tab-writer">
            <h4>Writer</h4>
            <div align="center">
              <svg id="writers-plot" width=1800 height=1200></svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
<script src="{% static 'js/entity-tab-page.js' %}"></script>
<script>
  var director_data = {{ directors | safe }};
  var writers_data = {{ writers | safe}};
  var width = document.getElementById('flower-container').offsetWidth;
  initTabPageEntity("#directors-plot", director_data, width, parseInt($("#petals-count").val()), "directors");
  initTabPageEntity("#writers-plot", writers_data, width, parseInt($("#petals-count").val()), "writers");
</script>