<!DOCTYPE html>
<html>

<head>
  <title>Challenge Me</title>
  <link rel="shortcut icon" href="images/title.png" />
  <!-- <link rel="stylesheet" href="css/main.css" /> -->
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <h1>Realtime communication with WebRTC</h1>

  <video id="localVideo" autoplay playsinline></video>
  <video id="remoteVideo" autoplay playsinline></video>

  <div>
    <button id="startButton">Start</button>
    <button id="callButton">Call</button>
    <button id="hangupButton">Hang Up</button>
  </div>

  <textarea id="dataChannelSend"
    placeholder="Press Start, enter some text, then press Send."></textarea>
  <textarea id="dataChannelClient" disabled
    placeholder="Press Start, enter some text, then press Send."></textarea>
  <textarea id="dataChannelReceive" disabled></textarea>

  <div id="buttons">
    <!-- <button id="startButton1">Start</button> -->
    <button id="sendButton1">Send</button>
    <!-- <button id="closeButton1">Stop</button> -->
  </div>


  <script src="static/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="static/main.js"></script>
  <!-- <script src="static/main1.js"></script> -->
</body>
</html>
